
# Node.js dependencies
node_modules
npm-debug.log
yarn-error.log

# Environment files
.env
.env.*

# Logs
logs
*.log

# Build artifacts
dist
build
email-verifier.exe
coverage

# OS-specific files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Docker files
Dockerfile
docker-compose.yml
